ul,
ul li ul {
	margin-left: 0;
	padding-left: 0;
}
li {
	display: inline-block;
	list-style: none;
}

.th:hover,
.th:focus {
	box-shadow: none;
}

.sectionTitle {
	position: absolute;
	top: 0;
	width: 33%;
	text-align: center;
	text-transform: capitalize;
}