<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
		<section class="title-area">
			<span class="name">
				<h1 class="mainHeader-logo"><a href="./">Kinofé</a></h1>
			</span>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<span class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></span>
		</section>

		<section class="top-bar-section">
			<ul class="mainNav navTabList">
				<!--<li class="divider"></li>-->
				<!--<li class="sectionTitle">{{ sectionTitle }}-->
					<!--<button class="button tiny hideJanre janreControls">never show</button>-->
				<!--</li>-->
				<li rel="releases" class="navTab">Releases</li>
				<li rel="watchlist" class="navTab">Watchlist</li>
				<li rel="theaters" class="navTab">Theaters</li>
			</ul>

			<ul class="sideTools">
				<li class="userArea">
					<!-- User View here -->
				</li>

				<li class="searchForm has-form">
					<span class="row collapse">
						<span class="large-8 small-9 columns">
							<input type="text" placeholder="Movie title">
						</span>
						<span class="large-4 small-3 columns">
							<a href="#" class="alert button expand">Find!</a>
						</span>
					</span>
				</li>
			</ul>
		</section>

	</nav>
</div>