<h1 class="mainHeader-logo"><a href="./">Kinofé</a></h1>
<h2 class="sectionTitle">{{ sectionTitle }} <button class="button tiny hideJanre janreControls">never show</button></h2>
<nav class="mainNav"></nav>
