<ul class="tabList">
	<li data-rel="releases" class="tabTitle active">Releases</li>
	<li data-rel="watchlist" class="tabTitle">Watchlist</li>
	<li data-rel="theater" class="tabTitle">Theaters</li>
</ul>
<div class="tabContent tab-releases active">
	<div class="movieList"></div>
</div>
<div class="tabContent tab-watchlist">
	<div class="movieList"></div>
</div>
<div class="tabContent tab-theater">
	<div class="movieList"></div>
</div>

<ul class="navTabList">
	<!--<li class="sectionTitle">{{ sectionTitle }}-->
	<!--<button class="button tiny hideJanre janreControls">never show</button>-->
	<!--</li>-->
	<li class="navTab active showReleases">Releases</li>
	<li class="navTab showWatchlist">Watchlist</li>
	<li class="navTab showTheaters">Theaters</li>
</ul>