<h2>{{ name }}</h2>
<img src="{{ image }}" class="details-img">
<p><a href="{{ imdb_link }}">Full info on IMDB</a></p>

<h3>Directed</h3>
<ul class="details-directed-list"></ul>

<h3>Played</h3>
<ul class="details-played-list"></ul>