{{#if username }}

	<span class="user-name">{{ username }}</span>
	(<span class="button-link small logout">Exit</span>)
	<span class="button-link small showIgnorelist">Ignorelist</span>

{{else}}

	<span>Login with</span>
	<span class="button-link disabled login">facebook</span>

{{/if}}