{{#if username }}

	<span class="userName">{{ username }}</span>
	(<span class="button-link small logout">Exit</span>)
	<span class="button-link small showIgnorelist">Ignorelist</span>

{{else}}

	<span>Login with</span>
	<span class="button-link login">facebook</span>
	or
	<span class="button-link disabled login">google</span>

{{/if}}