<h2>{{ username }}</h2>
<ul>
	{{#each watchlist.movie }}
		<li>{{ name }}</li>
	{{/each}}
</ul>

<ul>
	{{#each ignorelist.janre }}
		<li>{{ name }}</li>
	{{/each}}
</ul>

<ul>
	{{#each ignorelist.movie }}
		<li>{{ name }}</li>
	{{/each}}
</ul>