{{#if username }}

	<h2>{{ username }}</h2>
	<span class="button tiny logout">exit</span>

	<div>
		<span class="button showWatchlist">Watchlist</span>
		<span class="button showIgnorelist">Ignorelist</span>
	</div>

	<section class="detailsWatchList"></section>
	<section class="detailsIgnoreList"></section>

{{else}}

	<h3>Login with</h3>
	<span class="button disabled login">facebook</span>

{{/if}}