.listItem {
	overflow: hidden;
	display: block;
	margin: 10px;
	padding: 10px;
	background: #fff;

	&.hidden {
		display: none;
	}
	.th {
		float: left;
		max-width: 100px;
		max-height: 150px;
	}
	.content {
		position: relative;
		margin-left: 110px;
	}

	&-footer {
		margin-top: 20px;
	}
}