.mainHeader {

	.top-bar {
		margin-bottom: 0;
	}

	.title-area {
	}

	.user-area {
		position: absolute;
		right: 300px;
	}

	.janreControls {
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}
}