.mainHeader {
	height: 60px;
	background: #eee;

	&-logo {
		position: absolute;
		width: 100%;
		text-align: center;
	}
	.janreControls {
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}
}