.user {
	position: absolute;
	overflow: auto;
	top: 45px;
	right: 0;
	height: 200px;
	width: 33%;
	background: #ddd;

	h2 {
		display: inline-block;
	}
}
.detailsIgnoreListMovie {
	.button.hide {
		display: none;
	}
}